.grid-table {
  border-collapse: collapse;
}
.grid-table-td {
  position: relative;
  border-right-width: 1px;
  border-right-color: rgb(153, 153, 153);
  border-bottom-width: 1px;
  border-bottom-color: rgb(153, 153, 153);
  border-bottom-style: solid;
  border-right-style: solid;
  padding: 5px;
  ::v-deep .el-form-item__label {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(153, 153, 153);
    justify-content: center;
  }
  ::v-deep .el-form-item {
    margin-bottom: 0;
    input,
    textarea {
      border: none;
      &:focus {
        background: transparent;
        box-shadow: none;
      }
    }
    .el-date-editor {
      border: none;
    }
    .vue-treeselect__control {
      border: none;
      outline: none;
    }
    .el-form-item__error {
      top: calc(100% - 12px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      right: 0;
    }
  }
}
