/*
 * @file: 使用表格布局样式
 * @copyright: BoBo
 * @author: BoBo
 * @Date: 2020年09月14 18:01:58
 */
.table-form-wrapper {
  @mixin border-style($position: 'all', $style: 1px solid #e6e6e6) {
    @if ($position== 'all') {
      border: $style;
    } @else {
      border-#{$position}: $style;
    }
  }
  /deep/.table-form {
    .el-row {
      @include border-style('left');
      margin: 0 !important;
      &:first-child {
        @include border-style('top');
      }
      .el-col {
        padding: 0 !important;
        @include border-style('bottom');

        @include border-style('right');
        .el-form-item {
          margin-bottom: 0;
          display: flex;
          width: 100%;
          height:100%;
          box-sizing: border-box;
          align-items: center;
          .el-form-item__label {
            font-family: KaiTi,STKaiti;
            font-size: 16px;
            flex-shrink: 0;
            text-align: center;
            padding: 0;
          }
          .el-form-item__content {
            box-sizing: border-box;
            @include border-style('left');
            height: 100%;
            margin-left: 0px !important;
            flex: 1;
            display: flex;
            align-items: center;
            padding: 10px 0;
            .el-checkbox-group{
              padding-left:10px;
              padding-right:10px;
              .el-checkbox-button__inner{
                border:none;
              }
            }
            input,
            textarea {
              border: none;
              &:focus {
                background: transparent;
                box-shadow: none;
              }
            }
            .el-date-editor{
              border: none;
            }
            .vue-treeselect__control{
              border:none;
              outline:none;
            }
            >.el-form-item__error{
              top: calc(100% - 18px);
              left: 15px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              right: 0;
            }
          }
        }
      }
    }
  }
}
